@use "../abstract" as a;

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  .logo {
    width: 100px;
    padding: 20px 0 20px 30px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;

    li {
      padding: 0 20px;
      a {
        color: a.$col-white;
        &:hover {
          color: a.$col-purple;
        }
      }
      i {
        padding-right: 10px;
      }
    }
  }
}
