@use "../abstract" as a;

.main-content {
  display: flex;
  gap: 50px;
  max-width: 1100px;
  margin: 200px auto;
  justify-content: center;
  align-items: start;
  height: 100%;
  padding: 0 40px;
}
.content-right {
  flex: 1;
  max-height: 100%;
  align-content: center;
  h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 50px 0;
  }
}
